version: '3'
services:
  meilisearch:
    image: getmeili/meilisearch:v1.10
    ports:
      - "7700:7700"
    environment:
      - MEILI_NO_ANALYTICS=true
    volumes:
      - meili_data:/meili_data

volumes:
  meili_data:
